{% extends 'base.html' %}
    
    {% block content %}
    <div class="container">
        <h1>42 Coffee Cups Test Assignment</h1>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>{{ person.first_name }}</p>
                <p>{{ person.last_name }}</p>
                <p>{{ person.birth }}</p>
                <h3>Bio</h3>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Contacts</h3>
                <p>Email: {{ person.email }}</p>
                <p>Jabber: {{ person.jabber }}</p>
                <p>Skype: {{ person.skype }}</p>
                <h3>Other contacts:</h3>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
            </div>
        </div>        
    </div>
    {% endblock content %}