{% extends 'base.html' %}
    
    {% block content %}
    <div class="container">
        <h1>42 Coffee Cups Test Assignment</h1>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>Name</p>
                <p>Last name</p>
                <p>Date of birth</p>
                <h3>Bio</h3>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Contacts</h3>
                <p>Email: email</p>
                <p>Jabber: JID</p>
                <p>Skype: id</p>
                <h3>Other contacts:</h3>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
                <p>multiline</p>
            </div>
        </div>        
    </div>
    {% endblock content %}